


body {
    background-color:#444444;
    color:#AAAAAA;
    font-family: "Droid Sans",Tahoma, sans-serif;
    font-size: 11pt;
}

*:focus {
    outline:none;
}


*.eingabe {
    border:1px solid #111111; 
    border-radius: 3px;
    background-color: #444444; 
    color: #cdcdcd; 
    text-align:center; 
    font-family: monospace; 
    font-size: 10pt}
*.eingabe:focus {
    color: #ffea99;
    box-shadow: #22ffff 0px 0px 8px 0px;
    background-color: #333333; 
}

*.mono {
    font-family: "Source Code Pro","Droid Sans Mono",monospace;
}

*.red {
    color: #303030;
    background: #FFAAAA;
    font-family: "Droid Sans Mono",monospace;
}
*.green {
    color: #303030;
    background: #CCFFCC;
    font-family: "Droid Sans Mono",monospace;
}

*.yellow {
    color: #303030;
    background: #FFFF9A;
    font-family: "Droid Sans Mono",monospace;
}
*.neutral {
    color: #303030;
    background: #dfdfdf;
    font-family: "Droid Sans Mono",monospace;
}


table {
    border: #111111 1px solid;    
    border-radius: 4px;	
    background-color: #303030;
    font-family: "Droid Sans",sans-serif;
    font-size: 14px;	
    padding: 3px;
    color: #606060;
}
th {    
    font-weight: bold;	
    font-size: 14px;	
    border-collapse: collapse;
    padding: 0px; padding-left: 4px; padding-right: 4px;	
}
td { 
    border: 0px;
    border-collapse: collapse;
    padding: 1px; padding-left: 4px; padding-right: 4px;	
}

img { border: 0px; padding-left: 4px; padding-right: 4px; vertical-align: middle;}
img.hp { border: 0px; padding-left: 0px; padding-right: 0px; vertical-align: middle;}

button {
    padding: 1px;
}
button:hover {
    box-shadow: #22ffff 0px 0px 8px 0px;
}

input.input_1 {border:1px; border-bottom: 1px dotted #FF0000; background-color: transparent; color: #960000; font-weight:bolder; text-align:center; border-radius: 4px; }
input.input_1:focus { box-shadow: #77dd77 0px 0px 8px inset;}
input.input_3 {border:0px; border-bottom: 1px dotted #0000CC; background-color: transparent; color: #222255; text-align:center; font-family: 'Trebuchet MS'; border-radius: 4px; }
input.input_3:focus { box-shadow: #77dd77 0px 0px 8px inset;}

input.input_2 {border:0px; border-bottom: 1px dotted #B0B0B0; background-color: transparent; color: #EBEBBB; font-weight:bold; text-align:center; height:15px;}
input.input_4 {border:0px; background-color: #AFAF9F; color: #000000; font-weight:bold; height:15px; text-align:center; }

input.inli { border:1px solid #b8b8b8; background-color: #FFFFEE; color: #222222; font-size: 10pt; padding: 1px; padding-left: 4px;}
input.inli:focus {outline: #2288dd solid 2px; background-color: #FFf3aa; }

input.input_6 {border:1px solid #FF0000; background-color: #FFcc00; color: #000000; text-align:center; font-family: monospace; font-size: 10pt}
input.input_6:focus {border:1px solid #888888; outline: #2288dd solid 2px; background-color: #FFf3aa; }

/*Grüner Button*/
input.input_5 {
    border: 1px solid #000000;
    background-color: #77dd77;	
    background: url("_gfx/verlauf_cyan.png");
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-align:center;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;	
}
input.input_5:hover {
    background-color: #115511;	
    background: url("_gfx/verlauf_cyan_x.png");
    border: 1px solid #22ffff;	
    text-shadow: #cccccc -1px -1px;
    color: #000000;
}
/*Roter Button*/
input.input_8 {
    border: 1px solid #774400;
    background-color: #441100;
    /*background: url("../gfx/icons/vlf_orange_d2r.png");*/
    color: #DDAA22;
    font-size: 14px;
    font-weight: bold;
    text-align:center;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;	
}
input.input_8:hover {
    border: 1px solid #EE4400;
    background-color: #661100;
    background: url("_gfx/vlf_orange_d2.png");
    color: #EEDD22;	
    font-weight: bold;
    text-align:center;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

input.stdbut {
    width: 100px;
    font-size: 14px;    
    font-family: "Myriad Pro", sans-serif;
}

input.but_gray {
    /*font-family: "Source Sans Pro", sans-serif;*/
    font-size: 11px;	
    text-align: center;
    border: 1px solid #44AAFF;
    background-color: #445566;
    color: #DDdddd;
    padding: 1px;
    padding-left: 8px; padding-right: 8px;
    border-radius: 8px;
}
input.but_gray:hover {
    /*border: 1px solid #1188cc;*/
    box-shadow: #22ffff 0px 0px 4px 0px;
    /*text-shadow: #116699 -0pt -1pt;*/
    background-color: #222222;
    color: #44AAFF;
}

textarea.ta_1 {border:0px; background-color: #BFBFB1; }
button.pic {
    border: 0px;
    background: transparent;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
}

table.red {
    border-width:1px;
    border-style:solid;
    border-color:#AA0000;
}
table.green {
    border-width:1px;
    border-style:solid;
    border-color:#00AA00;
}

a		{ color: #44AAFF ; text-decoration:none; font-size: 14px; font-family: "Euphemia",sans-serif;}
a:hover	{ color: #FFFF99; text-decoration:underline;}

a.but {
    color: #000000;	
    background: url("_gfx/verlauf_lightgray.png");
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #888888;	
    border-radius: 8px;
    font-size: 1em;

}
a.but:hover {
    color: #000000;	
    background: url("_gfx/verlauf_orange.png");
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #990000;	
    border-radius: 8px;
    font-size: 1em;	
}

div.green { 
    background: #555555;
    color: #00CC00;
    padding: 2px;
    text-shadow: #222222 2px 2px;
}
div.red { 
    background: #333333;
    color: #ea4444;
    padding: 2px;
    text-shadow: #222222 2px 2px;
}
div.orange { 
    background: #555555;
    color: #EEAA00;
    padding: 2px;
    text-shadow: #222222 2px 2px;
}
div.white { 
    background: #555555;
    color: #EEEEEE;
    padding: 2px;
    text-shadow: #222222 2px 2px;
}
div.blue { 
    background: #333333;
    color: #0088ff;
    padding: 2px;
    text-shadow: #000000 2px 2px;
}
div.lila { 
    background: #333333;
    color: #CC00FF;
    padding: 2px;
    text-shadow: #222222 -2px -2px;
}

table.info {
    background:	#ACACAC;
    border-width: 0px;
    border-style: solid;
    border-color: #000000;    
}
table.info th {
    height:20px;
}
table.info td{
    font-family: "Lucida Grande","Levenim MT","Kalinga",Geneva,Arial,Helvetica,sans-serif;
    font-size: 10pt;
    height:20px;
    padding:2px;
}

table.dark2 {
    background:transparent;
    color:#FFFFFF;
    border-width:0px;
    border-style:solid;
    border-color:#000000;
    border-top-color:#484848;
    border-left-color:#666666;
}
table.dark2 th {
    border: 1px;
    background:#666666;
    font-size: 12px;
}
table.dark2 td {
    background:#777777;
    padding:2px;
    border-width:1px;
    border-style:solid;
    border-top-color:#282828;
    border-left-color:#282828;
    border-bottom-color:#444444;
    border-right-color:#444444;
    font-size: 12px;
}

table.light1 {
    background-color:#222222;
    border-width:1px;
    padding: 1px; padding-left: 4px; padding-right: 4px;	
    border-collapse: collapse;
    empty-cells: hide;
    border-style:solid;
    border-color:#000000;	
}
table.light1 th{
    background-color:#222222;	
    border: #444444 solid 1px;
    padding: 1px; padding-left: 4px; padding-right: 4px;
    color:#DFDFDF;

}
table.light1 td {
    background-color:#333333;
    padding: 1px; padding-left: 4px; padding-right: 4px;
    color: #DFDFDF;
    border: #444444 solid 1px;
}

table.light2 {
    font-size: 14px;    
    font-family: "Droid Sans",sans-serif;
    background-color: #292929;
    /* box-shadow: #dfdfdf 0px 0px 4px; */	
    padding: 2px; padding-left: 2px; padding-right: 2px;	
    border: 0px;
}
table.light2 th{
    background-color:#191919;
    padding: 1px; padding-left: 4px; padding-right: 4px;	
    color:#c7c7c7;
    border-width:0px;
    border-style:solid;
    border-top-color:#282828;
    border-right-color:#282828;
    border-bottom-color:#444444;
    border-left-color:#444444;
}
table.light2 td {    
    background-color:#595959;
    padding: 1px; padding-left: 4px; padding-right: 4px;	
    color:#cfcfcf;
    border-width:0px;
    border-style:solid;
    border-top-color:#444444;
    border-right-color:#444444;
    border-bottom-color:#282828;
    border-left-color:#282828;    
}

table.light3 {
    border: 1px solid #CCCCCC;
    border-radius: 6px;	
    background-color:#AFAFAF;	
    font-family: Geneva,Arial,Helvetica,sans-serif;
    font-size: 11pt;	
    padding: 3px;
    /*border-collapse: collapse;*/
    empty-cells: hide;	
}
table.light3 th {	
    text-shadow: #aaaaaa 1pt 1pt;	
    border-collapse: collapse;
    background-color: #999999;
    border: 0px silver solid;	
    padding: 1px; padding-left: 4px; padding-right: 4px;	
    color:#000000;
    font-size: 11pt;
    font-family: "Droid Sans", sans-serif;
}
table.light3 td { 
    /*background-color:#DFDFDF;*/
    border: 0px silver solid; 
    border-collapse: collapse;
    padding: 1px; padding-left: 4px; padding-right: 4px;	
}
table.light3 tr {
    background-color: #DFDFDF;
    /*background: url("verlauf_lightgray.png");*/
}
table.light3 tr:hover {
    background-color: #fff3aa;
    /*background: url("verlauf_cyan.png");*/
    background: url("_gfx/verlauf_20hgray.png");
    color: #0000CC;
}

table.light4 {
    background-color:#AFAFAF;
    border-width:1px;
    padding: 1px; padding-left: 4px; padding-right: 4px;	
    border-spacing: 1px;
    border-collapse: collapse;
    empty-cells: show;
    border-style: solid;
    border-color: #CCCCCC;	
    font-family: "Lucida Grande","Levenim MT","Kalinga",Geneva,Arial,Helvetica,sans-serif;
    font-size: 12px;
}
table.light4 th{
    background-color:#999999;
    border-width:1px;
    border-style:solid;
    padding: 1px; padding-left: 4px; padding-right: 4px;	
    color:#000000;
    font-size: 12px;
}
table.light4 td {
    padding: 1px; padding-left: 4px; padding-right: 4px;	
    color:#000000;
    border-width:1px;
    border-style:solid;
    font-size: 12px;
    border-right-color: #999999;
    border-left-color: #999999;
    border-bottom-color: #999999;
    border-top-color: #999999;
    border-collapse: collapse;
    empty-cells: show;
}

table.eigene {
    background-color:#AABFDF;
    border-width:1px;
    padding: 1px; padding-left: 4px; padding-right: 4px;	
    border-spacing: 0px;
    border-collapse: collapse;
    empty-cells: hide;
    border-style: solid;
    border-color: #CCCCCC;	
    font-family: "Lucida Grande",Geneva,Arial,Helvetica,sans-serif;
    font-size: 13px;
}
table.eigene th{
    background-color: #AAB8CD;
    border-width:1px;
    padding: 1px; padding-left: 4px; padding-right: 4px;	
    border-style:solid;	
    color:#000000;
    font-family: "Lucida Grande",Geneva,Arial,Helvetica,sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-shadow: #aaaaaa 1pt 1pt;
}
table.eigene td {
    background-color:#CCDADF;	
    color:#000000;
    border-width:1px;
    border-style:solid;
    padding: 1px; padding-left: 4px; padding-right: 4px;	
    font-size: 12px;
    border-right-color: #999999;
    border-left-color: #999999;
    border-bottom-color: #999999;
    border-top-color: #999999;
    font-family: "Lucida Grande",Geneva,Arial,Helvetica,sans-serif;
}

table.feind {
    background-color:#AFAAAA;
    border-width:1px;
    padding: 1px; padding-left: 4px; padding-right: 4px;	
    border-spacing: 0px;
    border-collapse: collapse;
    empty-cells: hide;
    border-style: solid;
    border-color: #CCCCCC;	
    font-family: "Lucida Grande",Geneva,Arial,Helvetica,sans-serif;
    font-size: 13px;
}
table.feind th{
    background-color: #CEAAAA;
    border-width:1px;
    border-style:solid;
    padding: 1px; padding-left: 4px; padding-right: 4px;	
    color:#000000;
    font-family: "Lucida Grande",Geneva,Arial,Helvetica,sans-serif;	
    font-size: 12px;
    font-weight: bold;
    text-shadow: #aaaaaa -1pt -1pt;
}
table.feind td {
    background-color:#DFCCCC;
    padding: 1px; padding-left: 4px; padding-right: 4px;	
    color:#000000;
    border-width:1px;
    border-style:solid;
    font-size: 12px;
    border-right-color: #999999;
    border-left-color: #999999;
    border-bottom-color: #999999;
    border-top-color: #999999;	
    font-family: "Lucida Grande",Geneva,Arial,Helvetica,sans-serif;
}



